html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: large;
  background-image: url("../assets/bg.png");
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 8px;
}

#mobile-instructions {
  display: none;
  text-align: center;
}

.icon {
  margin-top: 16px;
}

.d-2 {
  background-color: #ffeb3b;
  color: black;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #1f1f1f;
}
.d-2:hover {
  background-color: #1f1f1f;
  color: #ffeb3b;
  border: 2px solid #ffeb3b;
}

#host-name {
  margin: 16;
}
